/*-- scss:defaults --*/



// fonts
$font-family-sans-serif: Tahoma !default;
$presentation-font-size-root: 30px;
$presentation-font-smaller: 0.5;
$presentation-heading-font: Tahoma;


// colors
$body-bg: #fff !default;
$body-color: #779 !default;
$link-color: #2199e8 !default;
$selection-bg: #ccc;
$presentation-heading-color: #779;

// headings
$presentation-heading-font: "News Cycle", sans-serif !default;
